<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>National Park Statistics</title>
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <script src="{{ url_for('static', filename='js/search.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <link href="{{ url_for('static', filename='styles/style.css')}}" rel="stylesheet" />
</head>
<body>
    <div class="background-image"></div>
    <h1 class="mb-4">National Park Statistics</h1>
    <div class="content-container">
        <div class="form-container">
            <form action="/" method="get">
                <div class="checkbox-label"><strong>Available Data</strong></div>
                {% for key, name in col_map.items() %}
                <div>
                    <input type="checkbox" id="{{ key }}" name="cols" value="{{ key }}" {{ key in columns and 'checked' or '' }}>
                    <label for="{{ key }}">{{ key }}</label>
                </div>
                {% endfor %}

                {% if show_count %}
                <div class="checkbox-label"><strong>Apply Function</strong></div>
                <div class="count-checkbox">
                    <input type="checkbox" id="count" name="cols" value="count" {{ 'count' in columns and 'checked' or '' }}>
                    <label for="count">Count</label>
                </div>
                {% endif %}
                
                <button type="submit" class="update-button">Update Table</button>
            </form>
        </div>
        <div class="table-container">
            
            <table id="main_table" class="display">
                <thead>
                    <tr>
                        {% for header in headers %}
                        <th>{{ header }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <thead>
                    <tr>
                        {% for header in headers %}
                        <th><input type="text" placeholder="search {{ header }}" class="column_search" data-column-index="{{ loop.index0 }}"></th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in stats %}
                    <tr>
                        {% for col in columns %}
                        <td>{{ row[col] }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>            
        </div>
    </div>
</body>
</html>
